<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link href="/css/" rel="stylesheet"/>
</head>
<body>
<div class="big-container">
    <div class="container">
        <h3>403</h3>
        <p>The page you are looking for does not exist or has been moved.</p>
        <a th:href="@{/}" class="go-home">Go Home</a>
    </div>
</div>
</body>
</html>