<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link href="/css/error.css" rel="stylesheet"/>
</head>
<body>
    <div class="big-container">
        <div class="container">
            <h3>Uh-Oh!</h3>
            <p>Looks like something went wrong. Try returning home.</p>
            <a th:href="@{/static}">Go Home</a>
        </div>
    </div>
</body>
</html>