
.faq-text p {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 2px solid black
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3rem;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
    }
}

.faqs-dropdown-container {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background-color: white;
    padding: 2rem;
}

.question {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 1.25rem;
}

.answer {
    padding: 0 1.25rem;
    width: 100%;
    margin-bottom: 1.25rem;
}
.faqs-dropdown {
    border-bottom: #616161 solid 1px;
}