<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link href="/css/about.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="content">
    <div class="page-container">


    <div class="container">
        <div class="row-container">
            <div class="img">
                <img src="/img/goldwater-award-photo.jpg" alt="About Me" width="800" height="600" class="responsive-img">
            </div>
            <div class="row-content">
                <div class="real-content">
                <h2>About Me</h2>
                <p>I’m Charlie, a dedicated tutor passionate about helping students succeed.
                    With 5 years of tutoring experience and a
                    background in chemistry, computer science, and math, I specialize in making complex
                    concepts simple and engaging.</p>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="row-container odd">
            <div class="img">
                <img src="/img/charlie-and-harlow.jpg" alt="About Me" width="800" height="600" class="responsive-img">
            </div>
            <div class="row-content">
                <div class="real-content">
                <h2>Step-by-Step Support</h2>
                <p>We’ll break down tough concepts into simple, manageable steps.
                    You’ll leave each session feeling more confident than when you came in.</p>
                </div>
                <div class="spacer"></div>
            </div>
        </div>
        <div class="row-container">
            <div class="img">
                <img src="/img/award-with-kellen.jpg" alt="About Me" width="800" height="600" class="responsive-img">
            </div>
            <div class="row-content">
                <div class="real-content">
                <h2>Results That Matter</h2>
                <p>My tutoring and study resources have helped students raise grades, ace exams, and reach academic
                    goals they once thought were out of reach.</p>
                </div>
                <div class="spacer"></div>
            </div>
        </div>

    </div>

    </div>

</div>
</body>
</html>