<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Your Page Title</title>

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Google Fonts (Optional) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />



    <!-- Inline CSS (Optional) -->
    <style>
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

<header>
    <h1>Welcome</h1>
</header>

<main>

    <form th:action="@{/add_user}" method="post" th:object="${user}">
        <input type="text" th:field="*{firstName}"/>
        <input type="text" th:field="*{lastName}"/>
        <input type="email" th:field="*{email}"/>
        <input type="tel" th:field="*{phoneNumber}"/>
        <input type="text" th:field="*{hashPassword}"/>
    </form>
</main>

<footer>

</footer>

<!-- JavaScript (Optional) -->

</body>
</html>
