<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Your Page Title</title>


    <style>
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

<header>

</header>

<main>
    <h1>Welcome, {name}! Your next meeting is at 6 pm on Thursday, Septmeber 1st. </h1>
    <h2>A link to the meeting will appear below this text 5 minutes before the meeting begins.</h2>
    <a href="/">Home</a>
</main>



</body>
</html>
