<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="content">
  <div class="big-container">
    <div class="container">
      <div class="header-container">
        <i class="fas fa-square-check fa-2xl success"></i>
        <h3 class="success">Payment Success</h3>
      </div>

      <p>You should receive an email with further details soon. If you do not receive an email, please reach out to charlesuland@charlesulandtutoring.com
      as soon as possible</p>
      <a th:href="@{/}" class="go-home-button">Go Home</a>
    </div>
  </div>
</div>
</body>
</html>