<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">

    <link href="/css/" rel="stylesheet"/>
</head>
<body>
<div th:fragment="content">
    <div class="big-container">
        <div class="container">
            <div class="header-container">
                <i class="fas fa-square-xmark fa-2xl failure"></i>
                <h3 class="failure">Payment Failure</h3>
            </div>
            <p>Something went wrong. Please try again.</p>
            <a th:href="@{/}" class="go-home-button">Go Home</a>
        </div>
    </div>
</div>


</body>
</html>